<h2 style="text-align: center; font-family: 'Trebuchet MS', 'Liberation Sans', 'DejaVu Sans', sans-serif;">About</h2>

<center>
<div style="max-width: 600px; text-align: left;">
    <p>I was inspired to build the <a href="/">Password Generator</a> by the linux command <strong>pwgen</strong>, and by <a href="http://xkcd.com/936/">xkcd.com/936/</a>.</p>
    
    <p>Each of the languages uses a wordlist of around 40,000 words, so three words are enough to give a strong password. The downside is that some of the words are so rare only serious Scrabble players are likely to appreciate them.</p>

    <p>Check out the <a href="https://github.com/dustyneuron/passwordgenerator">source code on github</a>.</p>

    <p><small style="text-align: right">-<a href="http://www.dustyneuron.com">www.dustyneuron.com</a>  </small></p>
    <br />

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'passwordgenerator';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
</center>

